---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Profile from "@/components/Profile.astro";
import GithubContribution from "@/components/GithubContribution.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import SectionDivider from "@/components/SectionDivider.astro";
import { portfolioConfig } from "@/config/portfolio";
---

<BaseLayout title={`${portfolioConfig.name} — Portfolio`}>
  <main class="min-h-screen mx-auto flex w-full flex-col border-b border-dashed ">
        <Profile />
        <SectionDivider />
        <GithubContribution />
        <SectionDivider />
        <Experience />
        <SectionDivider />
        <Projects />
  </main>
</BaseLayout>
